[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
numpy = "*"
plotly = "*"
streamlit = "*"
langgraph = "*"
langchain = "*"
langchain-openai = "*"
openai = "*"
python-dotenv = "*"
tqdm = "*"
langchain-huggingface = "*"
langchain_community = "*"
huggingface-hub = "*"
together = "*"
posthog = "*"

[dev-packages]

[requires]
python_version = "3.10"
